/* Whiteboard Navigation Bar */
/* * {
  box-sizing: border-box;
} */

.boardnav {
  box-sizing: border-box;
  width: 100%;
  background-color: #333;
  overflow: auto;
}

.boardnav a {
  float: left;
  padding: 10px 0;
  color: #edf5e1;
  text-decoration: none;
  font-size: 17px;
  width: 7.6923%; /* 13 links of equal widths */
  text-align: center;
}

.boardnav a:hover {
  background-color: #764A34;
}

.boardnav a.active {
  background-color: #764A34;
}

@media screen and (max-width: 1000px) {
  .boardnav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* Main content area */

#content {
  font-family: "Comic Sans MS", cursive;

  margin: 0 auto 10px;
  width: auto;
  min-width: 1000px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  border: 20px solid #764A34;
}

#whiteboard, #letterBank {
  font-weight: bold;
  padding: 10px;    /*margin between border and where actual letters will be*/
  /*border: 2px solid #333;*/
  /*box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
  /* border-left: 20px solid #764A34;
  border-right: 20px solid #764A34; */
}

/* Slots for final card positions */

#whiteboard {
  height: 325px;
  margin: 0 0 0 0;   /*between letterBank and whiteboard*/
  /* border-bottom: 20px solid #764A34; */
}

/* The initial pile of unsorted cards */

#letterBank {
  height: 240px;  /* (5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5) * 3 (num rows) */
  margin: 0;
  /* border-top: 20px solid #764A34; */

}

.row {
  height: 80px;    /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
}

#row1 {
  width: 1040px;     /* (5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5) * 13 (num blocks in row) */
  margin: 0 auto;
}

#row2 {
  width: 1040px;   /* (5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5) * 13 (num blocks in row) */
  margin: 0 auto;
}

#row3 {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

#row4 {
  float: right;
  width: 80px;    /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
  height: 80px;   /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
}

#row5 {
  margin: 0 auto;
  width: 80px;    /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
  height: 80px;   /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
}

#row6 {
  float: left;
  width: 80px;    /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
  height: 240px;   /* 5 (margin) + 10 (border) + 50 (height of letter block) + 10 + 5 */
}

#row7 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

/* Individual cards and slots */

/* might be able to take out whiteboard div part */
#whiteboard div, .letterBlocks, .spaces {
  float: left;
  width: 50px;
  height: 50px;
  border: 10px solid #00BFFF;
  border-radius: 10px;
  margin: 5px;
  background: white;
  color: #00BFFF;
  font-size: 35px;
  /*text-shadow: 0 0 3px #000;*/
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#spacea, #lettera, #letteracorrect, #spacee, #lettere, #letterecorrect, #spacei, #letteri, #lettericorrect, #spaceo, #lettero, #letterocorrect, #spaceu, #letteru, #letterucorrect {
  background: white;
  color: #FF2400;
  border: 10px solid #FF2400;
}

#spaceee, #letteree, #lettereecorrect, #spaceoi, #letteroi, #letteroicorrect, #spaceoy, #letteroy, #letteroycorrect, #spaceai, #letterai, #letteraicorrect, #spaceay, #letteray, #letteraycorrect {
  background: white;
  color: #FF2400;
  border: 10px solid #FF2400;
}

#spaceer, #letterer, #letterercorrect, #spaceur, #letterur, #letterurcorrect, #spaceir, #letterir, #letterircorrect   {
  background: white;
  color: purple;
  border: 10px solid purple;
}

#spacear, #letterar, #letterarcorrect, #spaceor, #letteror, #letterorcorrect   {
  background: white;
  color: yellow;
  border: 10px solid gold;
}

#spacetch, #lettertch, #lettertchcorrect {
  font-size: 30px;
}

#spaceow, #letterow, #letterowcorrect, #spaceou, #letterou, #letteroucorrect, #spaceough, #letterough, #letteroughcorrect, #spaceea, #letterea, #lettereacorrect, #spaceoa, #letteroa, #letteroacorrect {
  background: white;
  color: #FF2400;
  border: 10px solid #FF2400;
}

#spaceough, #letterough, #letteroughcorrect {
  font-size: 20px;
}

#spaceear, #letterear, #letterearcorrect {
  font-size: 30px;
  background: white;
  color: purple;
  border: 10px solid purple;
}

#spaceoo, #letteroo, #letteroocorrect {
  background: white;
  color: #FF2400;
  border: 10px solid #FF2400;
}

/*
#whiteboard div:first-child, #letterBank div:first-child {
  margin-left: 0;
}
*/

.spaces {
  display: grid;
  position: relative;
  place-items: center;
  grid-template-areas: "inners";
}

.letterBlocks {
  position: absolute;
  grid-area: inners;
}

.letterBlocks.ui-draggable-dragging {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#resetButton {
  height: 50px;
}

/* Style eraser "button" */
.eraser {
  float: left;
  background-color: #333;
  border-color: #333;
  border-radius: 6px;
  border-bottom: 7px solid #777;
  font-family: "Comic Sans MS", cursive;
  font-size: 30px;
  color: white;
}
