body {
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}

/* Give headings their own font */



/* Main content area */

#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Slots for final card positions */

#whiteboard {
  margin: 50px auto 0 auto;
  background: #ddf;
}

/* The initial pile of unsorted cards */

#letterBank {
  margin: 0 auto;
  background: #ffd;
}

#whiteboard, #letterBank {
  width: inherit;
  height: 120px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#whiteboard div, #letterBank div {
  float: left;
  width: 58px;
  height: 78px;
  /*
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  */
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  /* card attributes */
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
  text-align: center;
  vertical-align: middle;
}

#whiteboard div:first-child, #letterBank div:first-child {
  margin-left: 0;
}

#whiteboard div.hovered {
  background: #aaa;
}

#letterBank div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
