/* Add some margin to the page and set a default font and colour */

body {
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}

/* Main content area */

#content {
  margin: 80px 70px;
  width: 90%;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#whiteboard, #letterBank {
  height: 120px;
  padding: 20px;    /*margin between border and where actual letters will be*/
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Slots for final card positions */

#whiteboard {
  margin: 50px 0 0 0;   /*between letterBank and whiteboard*/
  background: #ddf;   /*background color*/
}

/* The initial pile of unsorted cards */

#letterBank {
  margin: 0;
  background: #ffd;   /*background color*/
}

/* Individual cards and slots */

/* might be able to take out whiteboard div part */
#whiteboard div, .letterBlocks, .spaces {
  float: left;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}

/*
#whiteboard div:first-child, #letterBank div:first-child {
  margin-left: 0;
}
*/

.spaces {
  border-style: dashed;
  display: grid;
  position: relative;
  place-items: center;
  grid-template-areas: "inners";
}

.letterBlocks {
  background: #666;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 3px #000;
  position: absolute;
  grid-area: inners;
}

.letterBlocks.ui-draggable-dragging {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
