/* Add some margin to the page and set a default font and colour */

body {
  font-family: "Walter Turncoat", cursive;
  font-weight: bold;
}

/* Main content area */

#content {
  margin: 10px auto;
  width: 1500px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  border: 20px solid #764A34;
}

#whiteboard, #letterBank {
  padding: 10px;    /*margin between border and where actual letters will be*/
  /*border: 2px solid #333;*/
  /*box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
  /* border-left: 20px solid #764A34;
  border-right: 20px solid #764A34; */
}

/* Slots for final card positions */

#whiteboard {
  height: 400px;
  margin: 0 0 0 0;   /*between letterBank and whiteboard*/
  /* border-bottom: 20px solid #764A34; */
}

/* The initial pile of unsorted cards */

#letterBank {
  height: 270px;
  margin: 0;
  /* border-top: 20px solid #764A34; */

}

.row {
  height: 90px;
}

#row1, #row3 {
  width: 720px;
  margin: 0 auto;
}

#row2 {
  width: 900px;
  margin: 0 auto;
}

/* Individual cards and slots */

/* might be able to take out whiteboard div part */
#whiteboard div, .letterBlocks, .spaces {
  float: left;
  width: 60px;
  height: 60px;
  border: 10px solid #00BFFF;
  border-radius: 10px;
  margin: 5px;
  background: white;
  color: #00BFFF;
  font-size: 45px;
  /*text-shadow: 0 0 3px #000;*/
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

#spaceA, #letterA, #letterAcorrect, #spaceE, #letterE, #letterEcorrect, #spaceI, #letterI, #letterIcorrect, #spaceO, #letterO, #letterOcorrect, #spaceU, #letterU, #letterUcorrect {
  background: white;
  color: #FF2400;
  border: 10px solid #FF2400;
}

/*
#whiteboard div:first-child, #letterBank div:first-child {
  margin-left: 0;
}
*/

.spaces {
  display: grid;
  position: relative;
  place-items: center;
  grid-template-areas: "inners";
}

.letterBlocks {
  position: absolute;
  grid-area: inners;
}

.letterBlocks.ui-draggable-dragging {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Style eraser "button" */
.eraser {
  background-color: #333;
  border-color: #333;
  border-radius: 6px;
  border-bottom: 7px solid #777;
  font-size: 30px;
  color: white;
  position: relative;
  left: 1350px;
  bottom: 10px;
}
